.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #341E8A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
  background: #161512 linear-gradient(to bottom, hsl(37, 12%, 16%), hsl(37, 10%, 8%) 300px) no-repeat;
  color: #FFFFE0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-toggler {
  background-color: #6c757d  
}

.btn .btn-secundary{
  background-color: #6c757d;
  padding: 0px;
}

.btn-secondary{
  color: #FFFFE0;
  margin-top: 2px;
}




